# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv

# Streamlit cache
.streamlit/

# PyCharm
.idea/

# VS Code
.vscode/

# Pyenv
.python-version

# Node modules (if you use them for Streamlit or other frontend frameworks)
node_modules/

# Strava tokens (make sure sensitive files are not included)
strava_tokens.json

